/* Font declaration for sans-serif font family */
@font-face {
	font-family: 'sans-serif';
	src: url('OpenSans-Bold-webfont.woff') format('woff')
}

/* Global styling for the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* Styling for the header section */
header {
    height: 100px;
    background-image: linear-gradient(to bottom right, rgb(109, 94, 223), rgb(38, 7, 38));
    max-width: 100%;
}

/* Styling for h1 element within header */
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

/* Styling for logo image */
.logo {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 5em;
}

/* Styling for right-aligned images with hover effect */
.img_right {
    width: auto;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 16px;
    margin: 10px; 
    padding: 10px;
}

.img_right:hover {
    transform: scale(1.1); 
}

/* Styling for menu bar */
.menu {
    display: flex;
    align-items: center;
    padding-top: 10px; 
    margin-left: 4%;
}

/* Styling for menu logo */
.menu img.logo {
    height: 64px; 
}

/* Styling for menu links */
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.menu a:hover {
    color: rgb(220, 100, 220);
    transition: color 1s ease-in-out;
}

/* Styling for grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:max-content
}

/* Styling for left article in grid */
.left-article {
    grid-column: span 2;
    align-items: center;
    padding: 7%;
}

/* Styling for right article in grid */
.right-article {
    grid-column: 3;
    grid-row: span 1;
}

/* Styling for article images */
article img {
    width: 100%;
    height: auto; 
    border-radius: 16px;
    padding: 0; 
}

/* Styling for article text */
article {
    width: 100%;
}

article p {
    font-size: 20px;
}

/* Styling for add section */
.ads {
    margin: 24px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 24px 12px 34px 12px;
}

.ads img {
    height: 14em;
    max-width: 100%;
}

.ads h4, h5, p {
    margin: 8px;
}

/* Styling for comments section */
.comments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.comment {
    border-top: 1px solid #ccc;
}

/* Styling for comments form */
.comments-form {
    margin-top: 20px;
}

.comments-form label {
    display: block;
    margin-bottom: 8px;
}



/* Styling for comments form button */
.comments-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Styling for form */
form {
    display: flex;
    flex-direction: column;
    margin: 5%;
    border: 1px solid #ccc;
    padding: 5%;
    border-radius: 10px;
}

/* Styling for user details input box */
input,
span{
    box-sizing: border-box;
}
.input-field {
    height: 45px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Styling for category label */
form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Styling for form button */
form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 30%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.details {
    display: block;
    margin: 8px 0px 8px 0px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

select:hover,
select:focus {
    border-color: #007BFF;
}

/* Styling for checkbox */
.checkbox {
    padding-top: 16px;
    display: flex;
    align-items: center;
}

.checkbox label {
    cursor: pointer;
}

/* Styling for form button hover effect */
form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .menu img.logo {
        height: 64px; 
    }

    .menu a {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: linear-gradient(to bottom right, rgb(109, 94, 223), rgb(38, 7, 38));
    }


    .grid-container {
        grid-template-columns: 1fr; 
    }

    .left-article, .right-article {
        grid-column: span 1; 
    }
}

@media (max-width: 560px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        max-width: 100%;
        font-size: 12px;
        overflow-x: hidden;
    }

    .menu img.logo {
        height: 52px; 
    }

    .menu a {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: linear-gradient(to bottom right, rgb(109, 94, 223), rgb(38, 7, 38));
    }

    .grid-container {
        grid-template-columns: 1fr; 
        width: 100%;
    }

    .left-article, .right-article {
        grid-column: span 1; 
    }
}

@media (max-width: 370px) {
    body {
        font-size: 10px;
        max-width: 100%;
    }

    header {
        height: 80px; 
    }

    .menu a {
        display: none;
    }

    .grid-container {
        display: block;
        max-width: 100%;
    }

    .right-article {

        font-size: 12px;
    }
}


/* Styling for footer */
footer{
    margin: 2%;
    text-align: center;
}