/* Generic styles */

body {
	font-family: Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
	font-size: 0.95rem;
	margin: 0;
	padding: 0;
}

img.icon {
	max-height: 16px;
	margin-left:6px;
}
span.info{
	margin-right:8px;
	margin-left:4px;
}

img.flag.icon {
	height: 30px;
	max-width: 15px;
	border-radius: 50%;
	border: 4px solid white;
	margin: 50px;
	display: flex;
	margin: 0px 20px;
}


/* Used for elements that should take a maximum width of 1000px */
.centered {
	padding: 10px 40px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	align-items: center;
	justify-content:space-between;
	
}

.selected {
	background-color: #ff8000;
	border-radius: 20px;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 18px ;
	
}

.more{
	color:#ff8000;
	font-weight:bold;

}

.covid{
	text-align: left;
	padding: 3px;
	
}

/* The orange menu bar */

header {
	background-color: #ff8000;
	align-items: center;
	display: flex;
	padding: 25px;
}

header img.logo {
	width: 160px;
	padding-left: 0.5rem;
	display: flex;
	margin: 0px 3px;
	
	
}
div.middle{
	flex:1;
	text-align: center;
	color: white;
	font-weight:bold;
}
div.current-search{
	text-decoration-skip-ink:none;
	text-decoration: 2px underline;
	text-underline-offset:6px; 


}
img.back.icon{
	margin: 0px 3px;
}

/* The dark blue covid notice */

section.covid {
	background-color: #0a3847;
}



/* The banner with the food image */

section.banner {
	background-image: url(images/variety_desktop.jpg);
	background-position: center;
	padding:90px;
	object-fit: none;
	background-size: cover;
}



/* The food style filter */

section.styles {
	background-color: #f8f5f2;
	font-family: Roboto Slab,Arial,serif;
	color:rgb(109, 108, 108);
	font-size: 1em;
	height: 4rem;
	
}

/* The search box */

section.search {
	/* Hint: you don't actually need to get the search icon inside the <input>. Instead you can hide the border of the <input> and create your own border. */
	border: 1px solid rgb(197, 194, 194);
	display: flex;
	justify-content: flex-start;
	margin-top:20px;
	box-sizing: border-box;
	padding-left: 15px;

}
.box{
	display: flex;
	align-items: center;
	}

input{
	border: hidden;
	flex: 1;
	color: #666;

}

/* The list of restaurants */

article {
	color: #666;
	font-family: Roboto Slab,Arial,serif;
	flex-direction:row;
	display: flex; 
	align-content: stretch;
	width: 100%;
}

article h2 {
	font-family: Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
	color: #0a3847;
}

article img.star {
	max-height: 11px;
	text-align:center;
}

section.results{
	width: 100%;
	display: flex;
	
}
.left{
	border: 1px solid rgb(231, 225, 225);
	flex:0;
	border-right-color: white;
}
.right{
	width:100%; 
	border: 1px solid rgb(231, 225, 225);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.logo{
	width: 90px;
	margin: 40px;	
}
div.stars{
	text-align: center;
	margin:0px;
	padding-right:0px;
}
.right h2{
	padding-left:10px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 0px;
	margin-top: 10px;
}
div.styles{
	display: flex;
	align-items: flex-start;
    margin:10px;
	margin-top:0px;
}
.right footer{
	display:flex;
	align-items: flex-end;
	margin:10px;
	margin-top: 70px;
}
div.message{
	color: white;
	font-weight:bold;
	flex: 1;
	margin-left:25px;
	margin-top:5px
	
}

div.restaurant-count{
	text-align: center;
	color: white;
	font-weight:bold;
	font-size: 30px;

}